.mintRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.2rem auto;
    max-width: 600px;

}

.mintRow button {
    margin: 10px;

}
.mintRow input[type=text]:disabled { 
    opacity: var(--disabledOpacity);
    cursor: not-allowed;
}