.card {
    width: 400px;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--fadedGreen);
    margin: 1rem;
    border-radius: 1rem;
    overflow: hidden;
}

.attributes {
    opacity: 0.5;
    margin: 0.5rem 0;
    font-size: 0.8rem;
}

.footnote { 
    font-size: 0.8rem;
    color: var(--midGreen);
    margin-top: 0.5rem;
    font-style: italic;
    font-family:'Courier New', Courier, monospace;
    opacity: 0.5;
    overflow-wrap: anywhere;
}

.observationMedia {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: 0.3s ease all;
}

.observationMedia:hover { 
    cursor: pointer;
    scale: 1.1;
    opacity: 0.8;
    transition: 0.3s ease all;
}

.observationDetails { 
    padding: 1rem;
    color:var(--darkGreen)
}

.observationDetails h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--midGreen);
}

.chipContainer { 
    margin-top: 1rem;
}
