.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: auto;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.observationMedia {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}